body {
  margin: 0;
  font-family: "Hiragino Maru Gothic ProN", sans-serif;
  background: #f9fff3;
  color: #333;
  text-align: center;
}

/* ローディング */
#loading {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;   /* 画像と文字を縦並び */
  align-items: center;      /* 水平中央 */
  justify-content: center;  /* 垂直中央 */
  background: white;
  z-index: 9999;
}

#loading img {
  width: 150px;
  height: auto;
  margin-bottom: 10px; /* 画像と文字の間 */
}

#loading p {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}
